# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\九组-飞机大战\PlaneWarCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
